body.theme-light { 
    .fundcard,
    .lettercard{
      background-color: #abb5bf;
      color: #000000;
    }
    .alert-custom {
      background-color: #abb5bf;;
      color: #000000;  
      }
  }
  
  body.theme-dark { 
    .fundcard,
    .lettercard{
    background-color: #151515;
    color: #ffffff;
    }
    .alert-custom {
      background-color: #151515;
      color: #ffffff;  
      }
  }
  
  .enviar{
    background: #157347;
    color: #ffffff;
  }
  
  .enviar:hover {
    background: #157347;  
    color: #ffffff;  
  }
  .show-password:hover {
    color: #007bff;
  }
  
  
  #showPasswordIconClose {
    display: none;
  }