{% extends 'partials/body.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block contenido %}

<form action="" method="POST">
  {% csrf_token %}
  {{ form.tipo_usuario|as_crispy_field }}
  {{ form.nombres|as_crispy_field }}
  {{ form.apellidos|as_crispy_field }}
  {{ form.tipo_identificacion|as_crispy_field }}
  {{ form.identificacion|as_crispy_field }}
  {{ form.telefono|as_crispy_field }}
  
  <div id="campos_administrador" style="display: none;">
    {{ form.nombreusuario|as_crispy_field }}
    {{ form.correo_personal|as_crispy_field }}
    {{ form.contraseña|as_crispy_field }}
    {{ form.confirmarcontraseña|as_crispy_field }}
    {{ form.direccion|as_crispy_field }}
    {{ form.rh|as_crispy_field }}
  </div>


  <div id="campos_mecanico" style="display: none;">
    {{ form.nombreusuario|as_crispy_field }}
    {{ form.correo_personal|as_crispy_field }}
    {{ form.contraseña|as_crispy_field }}
    {{ form.confirmarcontraseña|as_crispy_field }}
    {{ form.direccion|as_crispy_field }}
    {{ form.rh|as_crispy_field }}
  </div>


  <div id="campos_Secretaria" style="display: none;">
    {{ form.nombreusuario|as_crispy_field }}
    {{ form.correo_personal|as_crispy_field }}
    {{ form.contraseña|as_crispy_field }}
    {{ form.confirmarcontraseña|as_crispy_field }}
    {{ form.direccion|as_crispy_field }}
    {{ form.rh|as_crispy_field }}
  </div>

 
  <div id="campos_cliente" style="display: none;">  
  </div>
  <div class="text-center">
    <a href="{% url 'usuarios' %}" class="btn btn-primary m-3">Volver {{titulo}}</a>
    <input type="submit" value="Agregar {{titulo}}" class="btn btn-success m-3" />
  </div>

</form>

<script src="{% static 'js/modulos/usuarios .js' %}"></script>
{% endblock contenido %}
