{% extends 'partials/body.html' %}
{% block contenido %}

  <a href="{% url 'usuarios-crear' %}" class="btn btn-success w-25">Crear {{titulo}}</a>
  
  <div class="card fondcard m-5">
    <div class="card-body">
        
        <table id="example" class="table table-striped dark" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Tipo Identificacion</th>
                    <th>Identificacion</th>
                    <th>Tipo De usuario</th>
                    <th>Telefono</th>
                    <th>Correo</th>
                    <th>Fecha Registro</th>
                    <th>ARl</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}{% if usuario.estado != "1" %}
                {% endif %}
                <tr>
                    <td>{{usuario.id}}</td>
                    <td>{{usuario.nombres}}</td>
                    <td>{{usuario.apellidos}}</td>
                    <td>{{usuario.tipo_identificacion}}</td>
                    <td>{{usuario.identificacion}}</td>
                    <td>{{usuario.tipo_usuario}}</td>
                    <td>{{usuario.telefono}}</td>
                    <td>{{usuario.correo_personal}}</td>
                    <td>{{usuario.fecha_registro}}</td>
                    <td>{{usuario.arl.nombre_arl}}</td>
                    <td>
                        <button type="button" onclick="changeURL('{{usuario.id}}')" data-taller-pinautos="{{usuario.id}}" class="btnEliminar btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalConf">
                            <i class="bi bi-trash3-fill"></i>
                        </button>
                        <a class="btn btn-primary" href="{% url 'usuarios-modificar' usuario.id %}">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
  new DataTable('#example', {
    dom: 'Bfrtip',
    scrollY: '200px',
    buttons: [
      {
        extend: 'excel',
        text: '<i class="bi bi-file-earmark-excel"></i> Excel',
        className: 'btn btn-success', 
      },
      {
        extend: 'pdf',
        text: '<i class="bi bi-filetype-pdf"></i> PDF',
        className: 'btn btn-danger', 
      },
      {
        extend: 'print',
        text: '<i class="bi bi-printer"></i> Imprimir',
        className: 'btn btn-primary', 
      },
    ],
  });
</script>

{% endblock contenido %}
