.space {
    margin-top:116px; 
  }
  @media (max-width: 768px) {
    
    .space {
      margin-top: 188px;
    }
  }
  html, body {
    height: 100%;
  }
   
  .page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .content {
    flex: 1;
  
  }

  
body.theme-light {
  .fondcard,
  .colortextcolumn{
    background-color: #abb5bf;
    color: #000000;
  }
  
}
body.theme-dark {
  .fondcard,
  .colortextcolumn{
    background-color: #181818;
    color: #ffffff;
  }
}  

  