
body.theme-light { 
    .fondServices,
    .color-text{
    background-color: #f7f7f7;
    color: #333333;
    }
}

body.theme-light { 
    .fondServices,
    .color-text{
    background-color: #f7f7f7;
    color: #333333;
    }
}
.text-card{
    color: #333333;
}
.img-service {
    border: 2px solid #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}