body.theme-light {
    .modal-content,
    .modal-header,
    .modal-footer,
    .modal-body,
    .modal-title{
        background-color: #abb5bf;
        color: #000000;
        
        .btn-close {
            color: black;
        }
    }
    
}
  body.theme-dark {
    .modal-content,
    .modal-header,
    .modal-footer,
    .modal-body,
    .modal-title{
        background-color: #232323;
        color: #ffffff;
        
        .btn-close {
            color: white;
        }
      
    }
}  
