{% extends 'partials/body.html' %}
{% block contenido %}

<div class= "text-center">
  <h2> Taller Automotriz Pinautos </h2>
  <h3>Bienvenido al sistema, {{ user.username }}</h3>
  <h6> Que te gustaria hacer hoy</h6>
  <div class="bd-example m-0 border-0 bd-example-cols">
    <div class="container px-4 text-center">
      <div class="row gx-5">
        <div class="col">
          <h2>Último Servicio Agregado</h2>
  
              <p>Nombre: {{ servicio.nombre }}</p>
              <p>Descripción: {{ servicio.descripcion }}</p>
             
        </div>
        <div class="col">
          <div class="p-3"><h2>Ultimo Mantenimiento <h2></div>
           
        </div>
      </div>
    </div>
   
      
  </div>    

  

  
  
</div>
 
{% endblock contenido %}
