{% extends 'partials/body.html' %}
{% block contenido %} 
    <a href="{% url 'lineas-crear' %}" class="btn btn-success w-25">crear {{titulo}}</a>
    <div class="wrapper m-5">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <table id="example" class="table table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th>id</th>
                                    <th>Linea</th>
                                    <th>Cilindraje</th>
                                    <th>Trasmision</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for linea in lineas %}
                                {% if linea.estado != "1" %}
                                    <tr class="bg-warning">
                                {% else %}
                                    <tr>
                                {% endif %}
                                    <td>{{linea.id}}</td>
                                    <td>{{linea.nombre_linea}}</td>
                                    <td>{{linea.cilindraje}}</td>
                                    <td>{{linea.transmision}}</td>
                                    <td>
                                        <button type="button" onclick="changeURL('{{linea.id}}')" data-taller-pinautos="{{linea.id}}" class="btnEliminar btn btn-danger"data-bs-toggle="modal" data-bs-target="#modalConf" title="Eliminar">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                            <a class="btn btn-primary" href="{% url 'lineas-modificar' linea.id %}"><i class="bi bi-pencil-square" title="Modificar"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script>
        new DataTable('#example', {
        dom: 'Bfrtip',
        buttons: [
            {
            extend: 'excel',
            text: '<i class="bi bi-file-earmark-excel"></i> Excel',
            className: 'btn btn-link',
            },
            {
            extend: 'pdf',
            text: '<i class="bi bi-filetype-pdf"></i> PDF',
            className: 'btn btn-link',
            },
            {
            extend: 'print',
            text: '<i class="bi bi-printer"></i> Imprimir',
            className: 'btn btn-link',
            },
        ],
        });
    </script>
{% endblock contenido %}

